<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Tushar Ranjan Singh.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/tushar-ranjan-singh-87ab76170/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/tusharg1t" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:tushar.r.singh.jobs@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
